#clock-btn{
   background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-size: 25px;
   }

  #clock-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }

/* 
 #time-para{
  background-image: linear-gradient(to right, #F9E300 0%, #bfe9ff  51%, #ff6e7f  100%); 
 max-width: 200px;
 text-align: center;
 font-size: 30px;
 margin-left: 40px;
 border-radius: 20%;
 border: 3px solid;
   }
 */  
            
         #time-para {
            background-image: linear-gradient(to right, #30E8BF 0%, #FF8235  51%, #30E8BF  100%);
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 10px #EDD607;
            border-radius: 10px;
            display: block;
            font-size: 35px;
            max-width: 230px;
            border: 2px solid black;
          }

          #time-para:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
#date-para{
  display: none;
  max-width: 270px;
  background-image: linear-gradient(to right, gold 0%, green 50%, #7385B8 100%);
  font-size: 35px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid dimgray;
}
