.watch {
    height: 80px;
    width: 110px;
    border-radius: 50%;
    background-color: aqua;
    border: 2px solid gray;
    margin: auto; /* Adjust margin for centering horizontally */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 40px;
}


.watch-btn{
    text-align: center;
    margin-top: 10px;
}